<div class="product-form">
    <h1>{{ isEditMode ? 'Editar Produto' : 'Adicionar Produto' }}</h1>
    <form (ngSubmit)="onSubmit()">
      <label for="name">Nome</label>
      <input type="text" id="name" [(ngModel)]="product.name" name="name" required>
      
      <label for="price">Preço</label>
      <input type="number" id="price" [(ngModel)]="product.price" name="price" required>

      <label for="price">Description</label>
      <input type="number" id="price" [(ngModel)]="product.price" name="price" required>
      
      <button type="submit">{{ isEditMode ? 'Salvar' : 'Adicionar' }}</button>
    </form>
  </div>
  