<div class="product-list">
    <h1>Lista de Produtos</h1>
    <table>
      <thead>
        <tr>
          <th>Nome</th>
          <th>Preço</th>
          <th>Descrição</th>
          <th>Quantidade</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let product of products">
          <td>{{ product.name }}</td>
          <td>{{ product.price | currency: 'BRL'  }}</td>
          <td>
            <button (click)="editProduct(product)">Editar</button>
            <button (click)="deleteProduct(product)">Excluir</button>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
  